{% extends 'base.html' %}
{% block title %}All Exercises{% endblock %}

{% block body %}
  <h1>All Exercises</h1>

  <h2>Navigation</h2>
  <ul>
    <li><a href="/create">Create an exercise</a></li>
    {% if "user_id" not in session %}
      <li><a href="/">Log In</a></li>
    {% endif %}
    {% if "user_id" in session %}
      <li><a href="/logout">Log Out</a></li>
    {% endif %}
  </ul>

  <br>
  
  <ul>
    {% for exercise in exercises %}
      <li>
        <a href="/exercises/{{ exercise.exercise_id }}">
          {{ exercise.title }}
        <p>{{ exercise.description }}</p>
        </a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}