{% extends 'base.html' %}
{% block title %}Create an Exercise{% endblock %}

{% block body %}
  <h1>Create</h1>

  <h2>Navigation</h2>

  <br>
  
  <form action="/add_exercise" method="POST">
    
    <label for="title">Title of exercise:* </label>
    <input type="text" name="title" id="title" required>

    <br>
    <label for="description">Description:* </label>
    <textarea name="description" id="description" required></textarea>
    
    <br>
    <label for="freq-select">Choose how often you recommend a user to do this exercise: </label>
    <select name="freq" id="freq-select">
      <option value="1">every day</option>
      <option value="7">once a week</option>
      <option value="14">once every two weeks</option>
      <option value="30">once a month</option>
    </select>

    <br>
    <label for="time-limit">Recommend # of minutes for user to spend on exercise: </label>
    <input type="number" name="time-limit" id="time-limit" min="0">

    <br>
    <label for="1">A prompt for the user to respond to:* </label>
    <textarea class="prompt" name="1" id="1" required></textarea>

    <div id="more-prompts"></div>

    <br>
    <p>I want my exercise to have more prompts!</p>
    <button type="button" id="add-prompt">Add prompt</button>

    <br>
    <button type="submit">Submit</button>
  </form>
{% endblock %}

{% block after_body %}{% endblock %}

{% block js %}
<script src="/static/js/add_prompt.js"></script>

{% endblock %}