{% extends 'base.html' %}
{% block title %}Create Exercise{% endblock %}

{% block body %}

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">Hall of Mirrors</a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/exercises">All Exercises</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/my_exercises">My Completed Exercises</a>
        </li>
      </ul>

      <ul class="navbar-nav me-2">
        <li class="nav-item me-2">
          <a class="nav-link" href="/logout">Log Out</a>
        </li>
      </ul>
    </div>

  </div>
</nav>

<main class="container my-5">
  <h1>Create an Exercise</h1>

  <form action="/add_exercise" method="POST">
    <div class="row mb-3">
      <label for="inputTitle" class="col-sm-2 col-form-label">Title of exercise:*</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputTitle" name="title" required>
      </div>
    </div>

    <div class="row mb-3">
      <label for="description" class="col-sm-2 col-form-label">Description:*</label>
      <div class="col-sm-10">
        <textarea name="description" class="form-control" id="description" required></textarea>
      </div>
    </div>

    <div class="row mb-3">
      <label for="freq-select" class="col-sm-2 col-form-label">How often you recommend user to do this exercise:</label>
      <div class="col-sm-10">
        <select name="freq" class="form-control" id="freq-select">
          <option value="1">every day</option>
          <option value="7">once a week</option>
          <option value="14">once every two weeks</option>
          <option value="30">once a month</option>
        </select>
      </div>
    </div>
    
    <div class="row mb-3">
      <label for="time-limit" class="col-sm-2 col-form-label"># of minutes for user to spend on exercise:</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="time-limit" name="time-limit" min="0">
      </div>
    </div>

    <div class="row mb-3">
      <label for="1" class="col-sm-2 col-form-label">A prompt for the user to respond to:*</label>
      <div class="col-sm-10">
        <textarea name="prompt" class="form-control prompt" id="1" required></textarea>
      </div>
    </div>

    <div id="more-prompts"></div>
      
    <p>I want my exercise to have more prompts!
        <button type="button" id="add-prompt" class="btn btn-secondary">Add prompt</button>    
    </p>
    
    <div class="d-grid gap-2">
      <button type="submit" class="btn btn-primary btn-lg">Submit</button>
    </div>
    
  </form>
</main>
{% endblock %}

{% block after_body %}{% endblock %}

{% block js %}
<script src="/static/js/add_prompt.js"></script>

{% endblock %}