{% extends 'base.html' %}
{% block title %}Create Exercise{% endblock %}

{% block body %}

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">Hall of Mirrors</a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/exercises">All Exercises</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/my_exercises">My Completed Exercises</a>
        </li>
      </ul>

      <ul class="navbar-nav me-2">
        <li class="nav-item me-2">
          <a class="nav-link" href="/logout">Log Out</a>
        </li>
      </ul>
    </div>

  </div>
</nav>

<main class="container my-5">
  <h1>Create an Exercise</h1>

  <form action="/add_exercise" method="POST">
    
    
    <label for="title">Title of exercise:* </label>
    <input type="text" name="title" id="title" required>

    <br>
    <label for="description">Description:* </label>
    <textarea name="description" id="description" required></textarea>
    
    <br>
    <label for="freq-select">Choose how often you recommend a user to do this exercise: </label>
    <select name="freq" id="freq-select">
      <option value="1">every day</option>
      <option value="7">once a week</option>
      <option value="14">once every two weeks</option>
      <option value="30">once a month</option>
    </select>

    <br>
    <label for="time-limit">Recommend # of minutes for user to spend on exercise: </label>
    <input type="number" name="time-limit" id="time-limit" min="0">

    <br>
    <label for="1">A prompt for the user to respond to:* </label>
    <textarea class="prompt" name="prompt" id="1" required></textarea>

    <div id="more-prompts"></div>

    <br>
    <p>I want my exercise to have more prompts!
      <button type="button" id="add-prompt">Add prompt</button>
    </p>
    <br>
    <button type="submit">Submit</button>
  </form>
</main>
{% endblock %}

{% block after_body %}{% endblock %}

{% block js %}
<script src="/static/js/add_prompt.js"></script>

{% endblock %}