{% extends 'base.html' %}

{% block title %}{{ exercise.title }} - Details{% endblock %}

{% block body %}
<h1>{{ exercise.title }}</h1>

<p>
  {{ exercise.description }}
</p>

<p>
    Exercise Author: {{ exercise.author.pen_name }}
</p>

<p>
    {% if exercise.frequency %}
        We recommend you do this exercise once every {{ exercise.frequency }} day(s).
    {% endif %}
</p>

<p>
    {% if exercise.time_limit_per_sitting %}
        Suggested time to spend on exercise: {{ exercise.time_limit_per_sitting }} minutes
    {% endif %}
</p>

<p>
    No editing once you submit! =P
</p>

<form action="/exercises/{{ exercise.exercise_id }}/submitted" method="POST">
    {% for prompt in exercise.prompts %}
        
        <label for="response-textarea">{{ prompt.prompt_content }}</label>
        <textarea name="{{ prompt.prompt_id }}" id="{{ prompt.prompt_id }}"></textarea>
        <br>

    {% endfor %}

    <input type="submit">
</form>

<br>
<a href="/" target="_blank">Create account or log in if you have not already.  Will open in new tab</a>

{% endblock %}