{% extends 'base.html' %}

{% block title %}{{ exercise.title }} - Details{% endblock %}

{% block body %}
<h1>{{ exercise.title }}</h1>

<p>
  {{ exercise.description }}
</p>

<p>
    Exercise Author: {{ exercise.author.pen_name }}
</p>

<p>
    {% if exercise.frequency %}
        We recommend you do this exercise once every {{ exercise.frequency }} day(s).
    {% endif %}
</p>

<p>
    {% if exercise.time_limit_per_sitting %}
        Suggested time to spend on exercise: {{ exercise.time_limit_per_sitting }} minutes
    {% endif %}
</p>

<p>
    No editing once you submit! =P
</p>

<form action="/exercises/{{ exercise.exercise_id }}/submitted" method="POST">
    {% for prompt in exercise.prompts %}
        
        <label for="response-textarea">{{ prompt.prompt_content }}</label>
        <textarea class="responses" name="{{ prompt.prompt_id }}" id="{{ prompt.prompt_id }}"></textarea>
        <br>

    {% endfor %}

    <button type="submit" id="completed-exercise">Submit</button>
</form>

<br>
<a href="/" target="_blank">Create account or log in if you have not already.  Will open in new tab</a>

{% endblock %}

{% block after_body %}{% endblock %}

{% block js %}
<!-- <script src="js/alert-save-responses.js"></script> -->

<!-- {% if session.get("user_id", "does not exist") == "does not exist" %} -->

<script>

    const button = document.querySelector('#completed-exercise');

    button.addEventListener('click', (evt) => {
        evt.preventDefault();

        fetch('/login-status.json', {method: 'GET', credentials: 'include'})
            .then((response) => response.json())
            .then((responseJson) => {
                if (responseJson === false) {
                    alert('To save your responses for future viewing, create account or log in by clicking link at bottom.  New tab will open.  After login in new tab, click Submit again in current tab to view your responses.');
                } 
                if (responseJson === true) {
                    let responses = {};
                    
                    for (const element of document.querySelectorAll('.responses')) {
                        responses["element.id"] = element.value;
                    }

                    fetch('/exercises/<exercise_id>/submitted', {method: 'GET', credentials: 'include'})
                        
                }
            });
        });

</script>

<!-- {% endif %} -->

{% endblock %}