{% extends 'base.html' %}

{% block title %}{{ exercise.title }} - Details{% endblock %}

{% block head %}

{% endblock %}

{% block body %}
<h1>{{ exercise.title }}</h1>

<h2>Navigation</h2>
<ul>
    <li><a href="/exercises">View all exercises</a></li>
    {% if "user_id" in session %}
        <li><a href="/users/my_exercises">View my completed exercises</a></li>
    {% endif %}
</ul>

<br>

<p>
  {{ exercise.description }}
</p>

<p>
    Exercise Author: 
    {% if exercise.author.pen_name %}
        {{ exercise.author.pen_name }}
    {% endif %}
    {% if not exercise.author.pen_name %} 
        {{ exercise.author.first_name[0] }}{{ exercise.author.last_name[0] }}
    {% endif %}
</p>

<p>
    {% if exercise.frequency %}
        We recommend you do this exercise once every {{ day }}. <br>

        {% if "user_id" in session %}
            If you want notifications on this frequency to remind you, enable push messaging:
            <button type="button" id="push">Push to me</button>
        {% endif %}
    {% endif %}
</p>

<p>
    {% if exercise.time_limit_per_sitting %}
        Suggested time to spend on exercise: {{ exercise.time_limit_per_sitting }} minutes
    {% endif %}
</p>

<p>
    No editing once you submit! =P
</p>

<form action="/exercises/{{ exercise.exercise_id }}/submitted" method="POST" id="exercise">
    {% for prompt in exercise.prompts %}
        
        <label for="response-textarea">{{ prompt.prompt_content }}</label>
        <textarea class="responses" name="{{ prompt.prompt_id }}" id="{{ prompt.prompt_id }}"></textarea>
        <br>

    {% endfor %}

    <button type="submit" id="completed-exercise">Submit</button>
</form>

<br>
<a href="/" target="_blank">Create account or log in if you have not already.  Will open in new tab</a>

{% endblock %}

{% block after_body %}{% endblock %}

{% block js %}
<script src="/static/js/alert_save_responses.js"></script>

<script 
    type="text/javascript" 
    src="/static/js/register_service_worker.js">
</script>

{% endblock %}