{% extends 'base.html' %}

{% block title %}{{ user.first_name }}'s Page{% endblock %}

{% block body %}
<h1>{{ user.first_name }}</h1>

<h2>Navigation</h2>
<ul>
  <li><a href="/exercises">View all exercises</a></li>
  <li><a href="/logout">Log Out</a></li>
</ul>

<p>Here are all of the exercises you have completed and your past responses:</p>

<ul>
{% for exercise in exercises %}
    <li>
        {{ exercise.title }}
        {% for prompt in exercise.prompts %}
            <p>{{ prompt.prompt_content }}</p>
            {% for response in prompt.responses %}
                {% if response.user_id == user.user_id %}
                    <p>{{ response.response_content }}</p>
                {% endif %}
            {% endfor %}
        {% endfor %}
        <!-- <span>
            test
        </span> -->
    </li>
{% endfor %}
</ul>
{% endblock %}
