{% extends 'base.html' %}
{% block title %}Create Account{% endblock %}

{% block head %}
    <!-- Stylesheet -->
    <link rel="stylesheet" href="/static/css/new_account_style.css">
    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,800,700,900' rel='stylesheet' type='text/css'>
{% endblock %}

{% block body %}

  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">Hall of Mirrors</a>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/exercises">All Exercises</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/my_exercises">My Completed Exercises</a>
          </li>
        </ul>

      </div>

    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
        <h2 id="signup">Create an Account</h2>
        <form action="/users" method="POST">
            <div>
                <label for="basicTextInput">Email*</label>
                <input class="form-control" type="text" name="email" placeholder="example@email.com" id="basicTextInput" required>
            </div>

            <div>
                <label for="basicTextInput">Password*</label>
                <input class="form-control" type="password" name="password" placeholder="Your Password" required>
            </div>

            <div>
                <label for="basicTextInput">First Name*</label>
                <input class="form-control" type="text" name="first-name" placeholder="Your First Name" required>
            </div>

            <div>
                <label for="basicTextInput">Last Name*</label>
                <input class="form-control" type="text" name="last-name" placeholder="Your Last Name" required>
            </div>

            <div>
                <label for="basicTextInput">Pen Name*</label>
                <input class="form-control" type="text" name="pen-name" placeholder="Your Pen Name">
            </div>

            <p class="log-in-form-text">
            <input type="submit" class="btn">
            </p>
        </form>
    </div>
  </div>

{% endblock %}

{% block js %}


{% endblock %}